.navigation {   
    display: flex;      
    list-style-type: none;
    align-items: center;
    justify-content:flex-end;
    
    &--bar{
        
    }
    &--btn {
       
        display: inline;
        opacity: 1;
    }
    &--link {
            
            color:white;
            background-color:#0B5057;
            border-radius: 10px;
            padding: 0.5rem;
            margin: 0.1rem;
            opacity: 1;
            &:hover{
                background-color:#3663A2;
            }
            &:focus{
                background-color:white;
            }

            
    }   
}
