.footer{
    margin: 0 auto;
    max-width: 100%;
    padding: 0.3rem;
    background-color: rgb(58,227,214);
    background-image: linear-gradient(90deg, rgba(58,227,214,1) 0%, rgba(53,178,204,1) 0%, rgba(76,86,184,0.7791491596638656) 100%);
    &--text{
        color:white;
        font-size: 0.75rem;
        &::before{
            content: '\00a9';
        }
    }
  }
  