@use "../abstracts/breakpoints" as media;

.information {
  background-color: #34495e;
  border-radius: rem(90px);
  opacity: 0.8;
  padding: 0.5rem;
  padding-top: 3.5rem;
  margin: 0.2rem;
  margin-top: -3rem;
  transition: transform 0.2s ease-in-out;
  &--title {
    text-align: center;
    margin-top: -2rem;
  }
  &--text {
    color: white;
    font-size: 1.3rem;
    padding: rem(2px);
    padding-top: rem(1px);
    margin-bottom: 1rem;
  }
  &__wrapper {
    margin: 7rem 0;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 100;
    opacity: 1;
    @include media.query(">=sm") {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      justify-content: space-around;
    }
    &--card {
      width: 20vmax;
      border: 2px solid #333;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      background-color: #ccc;
      box-shadow: 0px 0px 0px transparent;
      transition: box-shadow 0.5s ease-in-out;

      transition: transform 0.2s ease-in;
      &:hover {
        box-shadow: 5px 2px 2px white;
        transition: box-shadow 0.5s ease-in-out;
      }
      &:focus {
        background-color: #47463f;
        border: 2px solid #da5b23;
      }
      &--image {
        margin: 0%;
        padding: 0%;
        width: 100%;
        opacity: 0.9;
        box-shadow: 0px 50px 30px -18px #22c9a0;
        border-radius: 18px;
        float: right;
      }
      &--title {
        font-size: 0.5rem;
        color: black;
        padding: 0.5px;
        margin: 10px;
        z-index: 100;
        @include media.query(">=sm") {
          font-size: 1rem;
        }

        @include media.query(">=md") {
          font-size: 1.2rem;
        }
        @include media.query(">=lg") {
          font-size: 1.5rem;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-10%);
  }
}
